body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #404040;
  padding: 1rem;
}
header a {
  color: #ffff;
  font-weight: bold;
  text-decoration: none;
}
h1 {
  padding: 1rem;
}
.products {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
}

.product {
  border: 1px #404040 solid;
  margin: 0.3rem;
}

.product img {
  width: 17rem;
  height: 20rem;
}
.product-item {
  padding: 0.5rem;
}